<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>ParisDiscover</title>
  <link rel="stylesheet" href="/css/result.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <html>

                <head>
                </head>
                
                <body>
                  <header class="navbar navbar-fixed-top navbar-shadow">
                    <div class="navbar-branding dark">
                      <p class="navbar-brand"><b>Paris Discover</b></p>
                    </div>
                  </header>
                  <aside id="sidebar_left" class="nano nano-light affix has-scrollbar sidebar-default">
                    <div class="sidebar-left-content nano-content" tabindex="0" style="margin-right: -17px;">
                     
                      <div>
                            <form style="color:black;" method="post">
                           
                              <div class="field-search">
                                  <input type="text" name="query" class="search-box" placeholder="Rechercher" value="<%= query %>"/>
                              </div>
                                    
                              <div class="field-date">
                                  <input type="date" name="date" class="search-box"/>
                              </div>   
                              <div>                      
                              <select name="category" id="pet-select">
                                  <option value="">Catégorie</option>
                                  <option value="dog">Dog</option>
                                  <option value="cat">Cat</option>
                                  <option value="hamster">Hamster</option>                             
                              </select>
                            </div>
                              <div class="field-search">
                                  <input type="text" name="arrondissement" class="search-box" placeholder="arrondissement" />
                              </div>
                              <div>
                              <select name="access" id="pet-select">
                                  <option value="">type d'accès</option>
                                  <option value="free">gratuit</option>
                                  <option value="paie">payant</option>
                                  <option value="invite">Invitation</option>                             
                              </select>
                            </div>
                              <div>
                                  <label for="scales">Accès PMR</label>
                                  <input type="checkbox" id="scales" name="PMR">
                              </div>
                              <div>
                                    <label for="scales">Malvoyant</label>
                                    <input type="checkbox" id="scales" name="malvoyant">
                              </div>
                              <div>
                                  <label for="scales">Malentendant</label>
                                  <input type="checkbox" id="scales" name="malentendant">
                              </div>

                              <button>Rechercher</button>
                          </form>
                              
                      </div>
                    </div>
                  </aside>
                </body>
                
                </html>
         <div class="result" style="margin-left: 260px; margin-top: 100px">
            <% if (result !== 'null') { %>
              <span><%= result.nhits %> résultats</span> <br> <br>


              <% result.records.forEach(function(event) { %>
                  <img src="<%= event.fields.cover_url %>" alt="<%= event.fields.cover_alt %>" width="128px" height="128px"> <br>
                  <span><%= event.fields.title %></span> <br>
                  <span>Du <%= event.fields.date_start %> au <%= event.fields.date_end %></span> <br>
                  <br>
              <% }); %>
              

          <% } %>
        </div>
    
</body>
</html>
